html {
    margin: 0;
    padding: 0;
}

.sandbox {
	margin: 0 auto;
    display: flex; 
    justify-content: center;
    overflow: hidden;
    background-color: hsl(233, 47%, 7%);
    color: white;
}

.image-1 {
    display: block;
    background: url("./images/image-header-desktop.jpg") hsla(277, 72%, 61%, .95);
    background-size: cover;
    height: 100%;
    border-top-right-radius: 0.5rem;
    background-blend-mode: multiply;
    z-index: 0;
    opacity: .75;
    /* filter: sepia(50%); */
    
}

.box-1 {
    border-top-right-radius: 0.5rem;
    background-color: hsla(277, 68%, 61%, 1);
    z-index: 2;
}

.box-2 {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 0.5rem;  
}

h1 {  
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

span {
    color: hsl(277, 64%, 61%);
}

.para {
    font-family: 'Inter', sans-serif;
    font-size: 0.938rem;
    line-height: 1.56rem;
    color: hsla(0, 0%, 100%, 0.75);
}

.infograph {
    display: flex;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.infograph p {
    text-align: center;
    color: hsla(0, 0%, 100%, .65);
}

/* ------ Mobile ------ */
@media screen and (max-device-width: 480px) {

.sandbox {
    width: 23.44rem; /* mobile */
    padding: 7% 0; /* mobile */
}

.box-1 {
    width: 20.44rem; /* mobile */
    height: 15rem; /* mobile */
    border-top-left-radius: 0.5rem; /* mobile */
}

.image-1 {
    border-top-left-radius: 0.5rem; /* mobile */
}

.box-2 {
    width: 20.44rem;  /* mobile */
    height: 33.75rem;  /* mobile */
    align-items: center;
    border-bottom-right-radius: 0.5rem;  /* mobile */
}

h1 {  
    font-size: 1.75rem;  /* mobile */
    text-align: center; /* mobile */
    margin: 10%; /* mobile */
    line-height: 2rem; /* mobile */
}

.para {
    text-align: center; /* mobile */
    margin: -5% 10% 0;  /* mobile */
    letter-spacing: 0.01rem;  /*mobile */
    height: 6.25rem;  /* mobile */
}

.infograph {
    min-width: 50%;  /* mobile */
    height: 45%;  /* mobile */
    flex-direction: column;  /* mobile */
    align-items: center;  /* mobile */
    text-align: center;  /* mobile */
    margin-top: 5%;  /* mobile */
    margin-bottom: 9%;   /* mobile */
}

h2 {
    text-align: center;  /* mobile */
    margin-top: 30px;  /* mobile */
}

.infograph p {
    font-size: 0.65rem;  /* mobile */
    margin: -15%;  /* mobile */
    margin-left: -5%;
    font-family: 'Inter', serif; /* mobile */
    font-weight: 500;
    letter-spacing: 0.063rem;
}

}

/* ------ Desktop ------ */
@media screen and (min-device-width: 481px) {

.sandbox {
    width: 90rem;  /* desktop */
    height: 50rem;  /* desktop */
    flex-direction: row;  /* desktop */
    align-items: center;  /* desktop */
}

.card-container {  /* desktop */
    width: 69.375rem;
    height: 27.875rem;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
}

.box-1 {
    width: 33.75rem;  /* desktop */
    height: 27.875rem;  /* desktop */
    border-bottom-right-radius: 0.5rem;  /* desktop */
}

.image-1 {
    border-bottom-right-radius: 0.5rem;  /* desktop */
}

.box-2 {
    width: 35.625rem;  /* desktop */
    height: 27.875rem;  /* desktop */
    justify-content: center; /* desktop */
    border-top-left-radius: 0.5rem;  /* desktop */
}

h1 {
    font-size: 2.25rem;  /* desktop */
    line-height: 2.75rem;  /* desktop */
    margin: 1.5% 15% 0 12.5%;  /* desktop */
}

.para {
    display: inline-block;  /* desktop */;
    margin: 5% 25% -7% 12.5%;  /* desktop */
    text-align: left;
}

.infograph {
    margin: 16% 26% 2% 12.5%;  /* desktop */
    justify-content: space-between;  /* desktop */
}

h2 {
    margin-bottom: 25%;  /* desktop */
}

.infograph p {
    font-size: 0.75rem; /* desktop */
    margin: -15% 0 -15% 1%;
    font-family: 'Lexend Deca', sans-serif;  /* desktop */
    letter-spacing: 0.043rem;
    position: relative;
    right: 2%;
}

}
    
